.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -6rem;
  margin-bottom: 1rem;
  /* max-width: 9rem; */
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.spanicon {
  float: right;
  margin-right: 6px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  color: #9f1718;
}
