.card .form-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 20px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid #9f1718;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  height: 681px;
  width: 575px !important;
}

.btn-success {
  color: #fff;
  background-color: #9f1718;
  border-color: #9f1718;
}

.btn-success:hover {
  color: #fff;
  background-color: #a51616;
  border-color: #a51616;
}

.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #9f1718;
  border-color: #9f1718;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #9f1718;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
}

.map-section iframe {
  margin-top: 100px;
  border: 0;
  width: 540px;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .map-section iframe {
    width: 400px;
  }
  .card .lastname {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .map-section iframe {
    width: 300px;
  }

  .card .lastname {
    margin-top: 15px;
  }
}
