.heading {
  font-weight: bold;
}
.card-event-section {
  border: none;
  box-shadow: 9px 10px 5px -8px rgba(191, 183, 183, 0.75);
  border-left: 10px solid #3b5998;
}

.imageSection {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.button-secondary {
  background-color: #55acee !important;
  color: white !important;
  border: 2px solid transparent !important;
}

.button-secondary:hover {
  background-color: white !important;
  color: #55acee !important;
  border: 2px solid #55acee !important;
}

.share-modal-header {
  background-color: #9f1718;
  color: #ffffff;
}

.share-button-close {
  color: #ffffff;
}

.share-modal-title {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .card-event-section {
    border-left: none;
  }
}

@media only screen and (max-width: 360px) {
  .card-event-section {
    border-left: none;
  }
}

@media only screen and (max-width: 600px) {
  .imageContainer {
    text-align: center;
  }
  .heading {
    text-align: center;
  }
  .sub-heading {
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  .imageContainer {
    text-align: center;
  }
  .heading {
    text-align: center;
  }
  .sub-heading {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .upcoming-event-section {
    text-align: center;
  }

  @media only screen and (max-width: 360px) {
    .upcoming-event-section {
      text-align: center;
    }
  }
}
