.volunteer-button {
  margin-top: 220px;
}
.rating-section {
  margin-top: 160px;
}

@media only screen and (max-width: 600px) {
  .volunteer-button {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  .rating-section {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 360px) {
  .volunteer-button {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  .rating-section {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
