@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
  font-family: 'Noto Sans', sans-serif !important;
  overflow-x: hidden;
}
.nav-link{
  color:black !important;
}
.btn-primary,.btn-custom{
  background-color:#9F1718 !important;
  border:none !important;
  color:white;
  border:2px solid transparent !important;
}
.btn:hover{
  background-color:white !important;
  color:#9F1718 !important;
  border:2px solid #9F1718 !important;
}
