@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.nav-link {
  color: black !important;
}

.fixed-navbar {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  z-index: 50;
}

.btn {
  border: 2px solid transparent !important;
}
.btn-primary,
.btn-custom,
#pills-tab li button.active {
  background-color: #9f1718 !important;
  color: white !important;
  border: 2px solid transparent !important;
}
.btn-plain {
  background-color: #fff !important;
  color: #9f1718 !important;
  border: 2px solid #9f1718 !important;
}
.button-secondary {
  background-color: #55acee !important;
  color: white !important;
  border: 2px solid transparent !important;
}
#pills-tab li button {
  border: 2px solid transparent !important;
}
.btn-getStarted {
  background-color: #9f1718 !important;
  color: white !important;
  border: 2px solid transparent !important;
  width: 250px;
  height: 70px;
  padding: 0 1rem;
  font-size: 28px;
}
.btn:hover {
  background-color: white !important;
  color: #9f1718 !important;
  border: 2px solid #9f1718 !important;
}
.btn-plain:hover {
  background-color: #9f1718 !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

.btn-donation {
  background-color: #fff !important;
  padding: 0.5rem;
  pointer-events: none !important;
}
.btn-donation-red {
  background-color: #9f1718 !important;
  color: #fff !important;
  padding: 0.5rem;
  pointer-events: none !important;
}
.playbtn {
  transition: all 0.4s ease-in-out;
}
.playbtn:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.mt-n4 {
  margin-top: -3.5rem !important;
}
.secNav .nav-item .dropdown {
  position: relative;
}
.dropdown-menu {
  margin-top: 0;
  position: absolute !important;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-item:hover {
  color: #9f1718;
}
.dropdown-item:active {
  background-color: rgb(221, 221, 221);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.hr {
  display: inline-block;
}
.hr:after {
  content: "";
  display: block;
  border-radius: 10px;
  border-top: 5px solid #9f1718;
  margin-top: 0.5em;
}
.hrblack {
  display: inline-block;
}
.hrblack:after {
  content: "";
  display: block;
  border-radius: 10px;
  border-top: 1px solid #000;
  margin-top: 0.5em;
}
.main-card {
  background-color: #ebebeb;
}
.comment-card {
  background-color: #9f1717f1;
}
.comment-form {
  width: 85% !important;
  display: inline !important;
}

/* Search bar */

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}
.search input:focus {
  box-shadow: none;
}

.search .fa-search {
  position: absolute;
  top: 16px;
  left: 16px;
}
.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
}

.search-nav {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  border: none;
}

.search-nav input {
  height: 35px;
  text-indent: 25px;
  border: none;
  text-align: right;
}
.search-nav input:focus {
  box-shadow: none;
}
.search-nav .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn:focus {
  box-shadow: none !important;
}
/* Responsive Css */

@media (max-width: 1290px) {
  .navbar-nav {
    flex-wrap: wrap;
    margin: 0.75rem 0;
  }
  .secNav > a,
  .secNav > .nav-item {
    margin: 1rem;
  }
}
@media (max-width: 1000px) {
  .contactinfo h4,
  .connectwithus h4,
  .quicklinks h4 {
    font-size: 18px !important;
  }
  .footerlogo img {
    width: 140px !important;
    height: 130px !important;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: row !important;
    justify-content: space-evenly !important;
  }
  #navbarSupportedContent form {
    justify-content: center !important;
  }
}

@media (max-width: 768px) {
  .btn-donation,
  .btn-donation-red {
    font-size: 15px;
  }
  .downloadDesc p {
    font-size: 12px;
  }
  .downloadDesc h5 {
    font-size: 18px !important;
  }
  .downloadDesc h4 {
    font-size: 18px !important;
  }
  .herorow {
    height: 420px !important;
  }
}
@media (max-width: 750px) {
  .secNav > a,
  .secNav > .nav-item {
    font-size: 15px;
  }
}

@media (max-width: 630px) {
  .downloadApp {
    flex-direction: column !important;
  }
  .downloadDesc {
    margin-top: 1rem;
  }
}
@media (max-width: 550px) {
  .herorow {
    height: 325px !important;
  }
}
@media (max-width: 500px) {
  .contactinfo,
  .connectwithus,
  .quicklinks {
    text-align: center;
    margin: 1rem 0;
  }
  .navbar-nav {
    flex-wrap: wrap;
    margin: 0.5rem 0;
  }
  .secNav > a,
  .secNav > .nav-item {
    margin: 0.5rem;
  }
}
@media (max-width: 486px) {
  .btn-donation,
  .btn-donation-red {
    font-size: 12px;
  }
  .image-right {
    height: 200px !important;
  }
  .image-right img {
    width: 275px;
  }
}

@media (max-width: 422px) {
  .herorow .col-md-12 {
    margin-left: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 420px) {
  .donationDetail {
    flex-direction: column !important;
  }
  .donationDetail > div:first-child,
  .donationDetail > div:nth-child(2) {
    margin-bottom: 1rem;
  }
  .donationDetail > div > button {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .storeBtn {
    flex-direction: column !important;
  }
  .storeBtn img {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 5px;
  }
}
