@font-face {
  font-family: 'NeueMontreal';
  src: local('NeueMontreal'), url(./fonts/NeueMontreal-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'NeueMontreal';
    font-weight: 700;
    src: local('NeueMontreal'), url(./fonts/NeueMontreal-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'NeueMontreal';
    font-weight: 500;
    src: local('NeueMontreal'), url(./fonts/NeueMontreal-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'NeueMontreal';
    font-weight: 400;
    src: local('NeueMontreal'), url(./fonts/NeueMontreal-Light.otf) format('opentype');
}