.cardLineStyle {
  height: 5px;
  borderradius: 8px;
  color: #9f1718;
}

@media only screen and (max-width: 600px) {
  .top-fundraiser-heading h2 {
    text-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 360px) {
  .top-fundraiser-heading h2 {
    text-align: center;
  }
}
