.card-01 {
  box-shadow: 2px 2px 20px rgb(177 171 171 / 30%);
  border: none;
  margin-bottom: 30px;
}
.card-01:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}
.card-01 .height-fix {
  height: 455px;
  overflow: hidden;
}

.card-01 .height-fix .card-img-top {
  width: auto !important;
}

.profile-box {
  background-size: cover;
  float: left;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}

.profile-box img {
  width: 130px;
  height: 130px;
  position: relative;
  border: 5px solid #fff;
}

.image-container {
  object-fit: cover;
}

.share-modal-header {
  background-color: #9f1718;
  color: #ffffff;
}

.share-button-close {
  color: #ffffff;
}

.share-modal-title {
  font-size: 20px;
  font-weight: 600;
}

.hrLine {
  border-bottom: 2px solid black;
}

/* .volunteer-heading {
  border-bottom: 1px solid gray;
} */

@media only screen and (max-width: 600px) {
  .volunteer-heading {
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  .volunteer-heading {
    text-align: center;
  }
}
