.gallery-container{
  padding: 1em 0;
  min-height: 500px;
}
#gallery-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 16px;
}
#gallery-list li.two-third {
  width: 65.6%;
}
#gallery-list li.one-third {
  width: 32.3%;
}
#gallery-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
}
#gallery-list li a {
  min-height: 400px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}
a {
  color: #ff5722;
  -webkit-transition: 0.5s, ease;
  -o-transition: 0.5s, ease;
  transition: 0.5s, ease;
}
#gallery-list li a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: transparent;
}
#gallery-list li a .case-studies-summary {
  width: auto;
  bottom: 2em;
  left: 2em;
  right: 2em;
  position: absolute;
  z-index: 100;
}
#gallery-list li a .case-studies-summary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

#gallery-list li a .case-studies-summary h2 {

    color: #fff;
    margin-bottom: 0;

}
#gallery-list li a:hover::before {
  background: rgba(0, 0, 0, 0.5);
}
/* h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-weight: 400;
  margin: 0 0 30px 0;
} */